
		 
	<%= simple_form_for Holiday.new, :html=> { class: 'form-wrapper cf' } do |form| %>

		 <%= form.input :url, as: :string, maxlength: false, input_html: {class: "url-entry"}, placeholder: "Paste your Thomson / Firstchoice holiday here...", label: false %>
		 <%= form.input :notifications, as: :boolean, checked_value: true, unchecked_value: false, input_html: {class: "notifications"}, label: 'Email me when the price changes'  %>
	
		 <%= form.button :submit, "Add to watchlist", data: { disable_with: "Adding ..." } %>

		 <% end %>

<!--
			<input type="text" placeholder="Paste your Thomson / Firstchoice holiday here..." required class="url-entry">
			<input type="checkbox" name="vehicle" value="Bike" checked="true" class="notifications"><label for="vehicle" class="notchkbox-label">Email me when the price changes</label>
			<button type="submit">Add to watchlist</button>
			, input_html: {class: "url-entry"}, placeholder: "Paste your Thomson / Firstchoice holiday here..."
		</form>-->
		
		