hompage

Monitor prices of package holidays so you always know when to buy

<%= link_to "Start tracking prices", new_registration_path(resource_name), class: "devise-shared" %>

<p>Instructions</p>

<p>Example holiday</p>