<p><strong>Message from:</strong><p>
<p><%=@contact.contact_name%></p>

<p><strong>Email address:</strong><p>
<p><%=@contact.email_address%></p>


<p><strong>Message:</strong><p>	
<p><%=@contact.message%></p>	

