<!DOCTYPE html>
<html>
<head>
  <title>Your Holiday Watchlist | HolidaySniper</title>
  <%= stylesheet_link_tag    "holidays", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>





</body>
</html>
